/* Base Styles */
.root {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-base: #3498db;
    -fx-background: #f5f7fa;
}

/* Dashboard Styles */
.dashboard {
    -fx-background-color: linear-gradient(to bottom right, #f5f7fa, #cddfec);
    -fx-padding:3;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 0 0 20 0;
}

.category-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
    -fx-padding: 0 0 0 10;
}

.button {
    -fx-background-color:  #07892e;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color:  #3f483f;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

/* Form Styles */
.form-title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #07892e;
    -fx-padding: 0 0 15 0;
}

.text-field, .date-picker, .combo-box {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
     -fx-effect: dropshadow(three-pass-box, rgba(52,152,219,0.3), 5, 0, 0, 2);
}

.text-field:focused, .date-picker:focused {
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(three-pass-box, rgba(52,152,219,0.3), 5, 0, 0, 2);
}

/* Table Styles */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-background-radius: 5;
}

.table-view .column-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header-background {
    -fx-background-radius: 3 3 0 0;
}

.table-row-cell:odd {
    -fx-background-color: #f8f9fa;
}

.table-row-cell:selected {
    -fx-background-color: #d6eaf8;
}

.table-row-cell:hover {
    -fx-background-color: #ebf5fb;
}

/* Tab Pane Styles */
.tab-pane {
    -fx-background-color: white;
    -fx-border-color: #026103;
    -fx-border-width: 1.5;
    -fx-background-radius: 15;
}

.tab {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 3 3 0 0;
    -fx-padding: 5 15;
}

.tab:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

/* Alert/Dialog Styles */
.dialog-pane {
    -fx-background-color: white;
    -fx-border-color: #bdc3c7;
}

.dialog-pane .button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.dialog-pane .button:hover {
    -fx-background-color: #2980b9;
}

.pane{
	-fx-background-color: linear-gradient(to bottom right, #a8e48c, #a8e48c);
    -fx-padding:3;
    -fx-border-radius:10;
    -fx-border-width: 1.5;
    -fx-border-color: #f2f4f1;
}

/* Utility Classes */
.highlight-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-border-color: #026103;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
    -fx-padding: 2;
}


